In [1]:
import os
import uuid
import aiohttp
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import select, update
from typing import Type, List

from app.database.models import async_main, drop_all_tables, async_session, generate_erd
from app.database.requests.requests import set_const_value, \
    set_student_group, set_topic, get_const_value, set_organization, \
    set_teacher, set_student, get_all, get_student, delete_student, delete_org
from app.database.models import Base, Student, Organization, LLMRegime, \
    Teacher, PersonalExams, PersonalGraphs, PersonalTopics, PersRegime, \
    Topic, ExamSpecification, ExamsXExams, Exam, ExamsXStudentGroups, \
    StudentGroup, StudentGroupsXSubjects, TeachersXStudentGroups, Task, \
    TasksXStudents, TaskType, Contact, Document, Graph, Subject, Difficulty

### Visualize DB:

In [2]:
# generate_erd('erd_schema.png')

### Add necessary field in database:

Execute all cells below for standard setup of DB

In [3]:
load_dotenv()

TOGETHER_API_KEY = os.getenv("TOGETHER_API_KEY")

async def set_dict_values(model: Type[Base], values):
    for val in values:
        await set_const_value(model, val)

async def apply_func_to_list(func, values, **kwargs):
    for val in values:
        await func(name=val, **kwargs)

def orm_list_to_df(orm_list: list | None) -> pd.DataFrame | None:
    if not orm_list:
        return None
    
    model_class = orm_list[0].__class__
    column_names = [column.name for column in model_class.__table__.columns]

    table = []
    for obj in orm_list:
        row = {col: getattr(obj, col) for col in column_names}
        table.append(row)

    return pd.DataFrame(table)

In [4]:
# await drop_all_tables()
# await async_main()

# Subjects
subjects = ["Математика", "Программирование"]
await set_dict_values(Subject, subjects)

# Task types
task_types = ['Выбор одного из списка', 'Выбор нескольких из списка', 'Да/Нет', 'Текстом в жестком формате', 'Свободный текст']
await set_dict_values(TaskType, task_types)

# Difficulties:
difficulties = ["Простая", "Средняя", "Сложная"]
await set_dict_values(Difficulty, difficulties)

# PersRegime:
pers_regimes = ["Персонализированное обучение", "Выбор темы"]
await set_dict_values(PersRegime, pers_regimes)

# LLMRegime:
llm_regimes = ['Ответ с коротким объяснением', 'Только ответы без объяснений', 'Самостоятельная работа', "Ответ с подробным разобором"]
await set_dict_values(LLMRegime, llm_regimes)

# topics:
math_topics = ["Алгебра", "Геометрия"]
programming_topics = ["Алгоритмы", "Структуры данных", "ООП"]
await apply_func_to_list(set_topic, math_topics, subject_id=1)  # "Математика"
await apply_func_to_list(set_topic, programming_topics, subject_id=2)  # "Программирование"

2025-03-12 16:44:13,430 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-03-12 16:44:13,430 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 16:44:13,432 INFO sqlalchemy.engine.Engine select current_schema()
2025-03-12 16:44:13,432 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 16:44:13,433 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-03-12 16:44:13,433 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-12 16:44:13,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:13,434 INFO sqlalchemy.engine.Engine SET session_replication_role = 'replica';
2025-03-12 16:44:13,434 INFO sqlalchemy.engine.Engine [generated in 0.00020s] ()
2025-03-12 16:44:13,435 INFO sqlalchemy.engine.Engine
            SELECT tablename FROM pg_tables
            WHERE schemaname = 'public';

2025-03-12 16:44:13,436 INFO sqlalchemy.engine.Engine [generated in 0.00015s] ()
2025-03-12 16:44:13,438 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS organizations CASCADE;
2025-03-12 16:44:13,438 INFO sqlalchemy.engine.Engine [generated in 0.00025s] ()
2025-03-12 16:44:13,443 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS teachers CASCADE;
2025-03-12 16:44:13,443 INFO sqlalchemy.engine.Engine [generated in 0.00029s] ()
2025-03-12 16:44:13,444 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS subjects CASCADE;
2025-03-12 16:44:13,445 INFO sqlalchemy.engine.Engine [generated in 0.00018s] ()
2025-03-12 16:44:13,448 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS contacts CASCADE;
2025-03-12 16:44:13,448 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ()
2025-03-12 16:44:13,461 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS documents CASCADE;
2025-03-12 16:44:13,461 INFO sqlalchemy.engine.Engine [generated in 0.00032s] ()
2025-03-12 16:44:13,464 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS graphs CASCADE;
2025-03-12 16:44:13,464 INFO sqlalchemy.engine.Engine [generated in 0.00019s] ()
2025-03-12 16:44:13,465 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS topics CASCADE;
2025-03-12 16:44:13,465 INFO sqlalchemy.engine.Engine [generated in 0.00018s] ()
2025-03-12 16:44:13,467 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS student_groups CASCADE;
2025-03-12 16:44:13,467 INFO sqlalchemy.engine.Engine [generated in 0.00012s] ()
2025-03-12 16:44:13,470 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS exams CASCADE;
2025-03-12 16:44:13,470 INFO sqlalchemy.engine.Engine [generated in 0.00017s] ()
2025-03-12 16:44:13,473 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS personal_topics CASCADE;
2025-03-12 16:44:13,473 INFO sqlalchemy.engine.Engine [generated in 0.00019s] ()
2025-03-12 16:44:13,474 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS personal_graphs CASCADE;
2025-03-12 16:44:13,474 INFO sqlalchemy.engine.Engine [generated in 0.00012s] ()
2025-03-12 16:44:13,475 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS students CASCADE;
2025-03-12 16:44:13,475 INFO sqlalchemy.engine.Engine [generated in 0.00012s] ()
2025-03-12 16:44:13,478 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS pers_regimes CASCADE;
2025-03-12 16:44:13,478 INFO sqlalchemy.engine.Engine [generated in 0.00015s] ()
2025-03-12 16:44:13,479 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS difficulties CASCADE;
2025-03-12 16:44:13,479 INFO sqlalchemy.engine.Engine [generated in 0.00011s] ()
2025-03-12 16:44:13,480 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS task_types CASCADE;
2025-03-12 16:44:13,480 INFO sqlalchemy.engine.Engine [generated in 0.00012s] ()
2025-03-12 16:44:13,486 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS llm_regimes CASCADE;
2025-03-12 16:44:13,486 INFO sqlalchemy.engine.Engine [generated in 0.00022s] ()
2025-03-12 16:44:13,487 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS teachers_x_student_groups CASCADE;
2025-03-12 16:44:13,487 INFO sqlalchemy.engine.Engine [generated in 0.00013s] ()
2025-03-12 16:44:13,488 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS student_groups_x_subjects CASCADE;
2025-03-12 16:44:13,488 INFO sqlalchemy.engine.Engine [generated in 0.00012s] ()
2025-03-12 16:44:13,489 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS exams_x_student_groups CASCADE;
2025-03-12 16:44:13,489 INFO sqlalchemy.engine.Engine [generated in 0.00016s] ()
2025-03-12 16:44:13,490 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS exam_specifications CASCADE;
2025-03-12 16:44:13,491 INFO sqlalchemy.engine.Engine [generated in 0.00011s] ()
2025-03-12 16:44:13,491 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS tasks CASCADE;
2025-03-12 16:44:13,491 INFO sqlalchemy.engine.Engine [generated in 0.00012s] ()
2025-03-12 16:44:13,493 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS tasks_x_exams CASCADE;
2025-03-12 16:44:13,493 INFO sqlalchemy.engine.Engine [generated in 0.00015s] ()
2025-03-12 16:44:13,494 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS tasks_x_students CASCADE;
2025-03-12 16:44:13,494 INFO sqlalchemy.engine.Engine [generated in 0.00015s] ()
2025-03-12 16:44:13,495 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS personal_exams CASCADE;
2025-03-12 16:44:13,495 INFO sqlalchemy.engine.Engine [generated in 0.00012s] ()
2025-03-12 16:44:13,497 INFO sqlalchemy.engine.Engine SET session_replication_role = 'origin';
2025-03-12 16:44:13,514 INFO sqlalchemy.engine.Engine [generated in 0.01634s] ()
All tables dropped successfully.
2025-03-12 16:44:13,538 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:13,554 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:13,556 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,556 INFO sqlalchemy.engine.Engine [generated in 0.00025s] ('organizations', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,558 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,558 INFO sqlalchemy.engine.Engine [cached since 0.002527s ago] ('teachers', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,559 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,559 INFO sqlalchemy.engine.Engine [cached since 0.00336s ago] ('students', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,559 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,559 INFO sqlalchemy.engine.Engine [cached since 0.003993s ago] ('llm_regimes', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,560 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,560 INFO sqlalchemy.engine.Engine [cached since 0.004726s ago] ('pers_regimes', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,561 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,561 INFO sqlalchemy.engine.Engine [cached since 0.005397s ago] ('contacts', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,561 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,562 INFO sqlalchemy.engine.Engine [cached since 0.006059s ago] ('documents', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,562 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,562 INFO sqlalchemy.engine.Engine [cached since 0.006583s ago] ('student_groups', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,562 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,563 INFO sqlalchemy.engine.Engine [cached since 0.007151s ago] ('teachers_x_student_groups', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,563 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,563 INFO sqlalchemy.engine.Engine [cached since 0.007637s ago] ('subjects', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,563 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,564 INFO sqlalchemy.engine.Engine [cached since 0.008101s ago] ('student_groups_x_subjects', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,564 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,564 INFO sqlalchemy.engine.Engine [cached since 0.008724s ago] ('exams', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,565 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,565 INFO sqlalchemy.engine.Engine [cached since 0.009304s ago] ('graphs', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,565 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,565 INFO sqlalchemy.engine.Engine [cached since 0.00989s ago] ('topics', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,566 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,566 INFO sqlalchemy.engine.Engine [cached since 0.01038s ago] ('exams_x_student_groups', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,566 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,566 INFO sqlalchemy.engine.Engine [cached since 0.01077s ago] ('graphs_x_student_groups', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,567 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,567 INFO sqlalchemy.engine.Engine [cached since 0.0113s ago] ('task_types', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,567 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,567 INFO sqlalchemy.engine.Engine [cached since 0.0119s ago] ('difficulties', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,568 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,568 INFO sqlalchemy.engine.Engine [cached since 0.01247s ago] ('exam_specifications', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,568 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,568 INFO sqlalchemy.engine.Engine [cached since 0.01294s ago] ('tasks', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,569 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,569 INFO sqlalchemy.engine.Engine [cached since 0.01348s ago] ('personal_graphs', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,569 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,570 INFO sqlalchemy.engine.Engine [cached since 0.01404s ago] ('personal_topics', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,570 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = $1::VARCHAR AND pg_catalog.pg_class.relkind = ANY (ARRAY[$2::VARCHAR, $3::VARCHAR, $4::VARCHAR, $5::VARCHAR, $6::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != $7::VARCHAR
2025-03-12 16:44:13,570 INFO sqlalchemy.engine.Engine [cached since 0.01446s ago] ('personal_exams', 'r', 'p', 'f', 'v', 'm', 'pg_catalog')
2025-03-12 16:44:13,570 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace

In [5]:
# Test organization
org_invite_code = uuid.uuid4()
await set_organization(org_invite_code, 'Юрахно Константин Феликсович (админ)', "г. Москва, проспект Вернадского, д.41")

# Test teacher
teacher_invite_code = uuid.uuid4()
await set_teacher(teacher_invite_code, 1, 1, "Юрахно Константин Феликсович")

# Test Student groups
student_group_names = ["10A", "10B", "11A", "11B"]
await apply_func_to_list(set_student_group, student_group_names, organization_id=1, teacher_id=1)

# Test student
student_invite_code = uuid.uuid4()
await set_student(student_invite_code, student_group_id=2, name="Юрахно Константин Феликсович", grade=11, organization_id=1)

student_invite_code_2 = uuid.uuid4()
await set_student(student_invite_code_2, student_group_id=2, name="Student_3", grade=11, organization_id=1)

2025-03-12 16:44:22,733 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,734 INFO sqlalchemy.engine.Engine SELECT organizations.id, organizations.invite_code, organizations.tg_id, organizations.name, organizations.legal_address, organizations.quote, organizations.class_quote
FROM organizations
WHERE organizations.invite_code = $1::UUID
2025-03-12 16:44:22,735 INFO sqlalchemy.engine.Engine [generated in 0.00069s] (UUID('25cb06c4-6c6c-4cce-802e-191fbd8b5db1'),)
2025-03-12 16:44:22,738 INFO sqlalchemy.engine.Engine INSERT INTO organizations (invite_code, tg_id, name, legal_address, quote, class_quote) VALUES ($1::UUID, $2::BIGINT, $3::VARCHAR, $4::VARCHAR, $5::INTEGER, $6::INTEGER) RETURNING organizations.id
2025-03-12 16:44:22,738 INFO sqlalchemy.engine.Engine [generated in 0.00030s] (UUID('25cb06c4-6c6c-4cce-802e-191fbd8b5db1'), None, 'Юрахно Константин Феликсович (админ)', 'г. Москва, проспект Вернадского, д.41', None, None)
2025-03-12 16:44:22,739 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:22,740 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,740 INFO sqlalchemy.engine.Engine SELECT teachers.id, teachers.invite_code, teachers.tg_id, teachers.organization_id, teachers.subject_id, teachers.name, teachers.birth_date, teachers.phone_number, teachers.personal_info
FROM teachers
WHERE teachers.invite_code = $1::UUID
2025-03-12 16:44:22,740 INFO sqlalchemy.engine.Engine [generated in 0.00020s] (UUID('f28cd5f0-acf9-45f3-8596-2cd56294e6c5'),)
2025-03-12 16:44:22,742 INFO sqlalchemy.engine.Engine INSERT INTO teachers (invite_code, tg_id, organization_id, subject_id, name, birth_date, phone_number, personal_info) VALUES ($1::UUID, $2::BIGINT, $3::INTEGER, $4::INTEGER, $5::VARCHAR, $6::VARCHAR, $7::VARCHAR, $8::VARCHAR) RETURNING teachers.id
2025-03-12 16:44:22,742 INFO sqlalchemy.engine.Engine [generated in 0.00023s] (UUID('f28cd5f0-acf9-45f3-8596-2cd56294e6c5'), None, 1, 1, 'Юрахно Константин Феликсович', None, None, None)
2025-03-12 16:44:22,744 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:22,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,746 INFO sqlalchemy.engine.Engine INSERT INTO student_groups (name, organization_id, teacher_id) VALUES ($1::VARCHAR, $2::INTEGER, $3::INTEGER) RETURNING student_groups.id
2025-03-12 16:44:22,746 INFO sqlalchemy.engine.Engine [generated in 0.00028s] ('10A', 1, 1)
2025-03-12 16:44:22,748 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:22,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,749 INFO sqlalchemy.engine.Engine INSERT INTO student_groups (name, organization_id, teacher_id) VALUES ($1::VARCHAR, $2::INTEGER, $3::INTEGER) RETURNING student_groups.id
2025-03-12 16:44:22,750 INFO sqlalchemy.engine.Engine [cached since 0.003448s ago] ('10B', 1, 1)
2025-03-12 16:44:22,750 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:22,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,751 INFO sqlalchemy.engine.Engine INSERT INTO student_groups (name, organization_id, teacher_id) VALUES ($1::VARCHAR, $2::INTEGER, $3::INTEGER) RETURNING student_groups.id
2025-03-12 16:44:22,751 INFO sqlalchemy.engine.Engine [cached since 0.005215s ago] ('11A', 1, 1)
2025-03-12 16:44:22,752 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:22,753 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,753 INFO sqlalchemy.engine.Engine INSERT INTO student_groups (name, organization_id, teacher_id) VALUES ($1::VARCHAR, $2::INTEGER, $3::INTEGER) RETURNING student_groups.id
2025-03-12 16:44:22,753 INFO sqlalchemy.engine.Engine [cached since 0.00688s ago] ('11B', 1, 1)
2025-03-12 16:44:22,754 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:22,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,755 INFO sqlalchemy.engine.Engine INSERT INTO students (invite_code, tg_id, student_group_id, organization_id, name, birth_date, grade, phone_number, pers_regime_id, topic_id, difficulty_id, task_type_id, regime_id) VALUES ($1::UUID, $2::BIGINT, $3::INTEGER, $4::INTEGER, $5::VARCHAR, $6::VARCHAR, $7::INTEGER, $8::VARCHAR, $9::INTEGER, $10::INTEGER, $11::INTEGER, $12::INTEGER, $13::INTEGER) RETURNING students.id
2025-03-12 16:44:22,755 INFO sqlalchemy.engine.Engine [generated in 0.00024s] (UUID('60a99b4a-ef22-493d-bcb3-8120a6361ad1'), None, 2, 1, 'Юрахно Константин Феликсович', None, 11, None, 1, 1, 1, 1, 1)
2025-03-12 16:44:22,758 INFO sqlalchemy.engine.Engine COMMIT
2025-03-12 16:44:22,759 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:44:22,761 INFO sqlalchemy.engine.Engine INSERT INTO students (invite_code, tg_id, student_group_id, organization_id, name, birth_date, grade, phone_number, pers_regime_id, topic_id, difficulty_id, task_type_id, regime_id) VALUES ($1::UUID, $2::BIGINT, $3::INTEGER, $4::INTEGER, $5::VARCHAR, $6::VARCHAR, $7::INTEGER, $8::VARCHAR, $9::INTEGER, $10::INTEGER, $11::INTEGER, $12::INTEGER, $13::INTEGER) RETURNING students.id
2025-03-12 16:44:22,761 INFO sqlalchemy.engine.Engine [cached since 0.00572s ago] (UUID('3d2885d8-c45b-411a-b150-4dd7762d5785'), None, 2, 1, 'Student_3', None, 11, None, 1, 1, 1, 1, 1)
2025-03-12 16:44:22,763 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
objects = await get_all(Student)
objects_df = orm_list_to_df(objects)
display(objects_df)

2025-03-12 16:53:08,164 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:53:08,168 INFO sqlalchemy.engine.Engine SELECT students.id, students.invite_code, students.tg_id, students.student_group_id, students.organization_id, students.name, students.birth_date, students.grade, students.phone_number, students.pers_regime_id, students.topic_id, students.difficulty_id, students.task_type_id, students.regime_id
FROM students
2025-03-12 16:53:08,168 INFO sqlalchemy.engine.Engine [cached since 484.1s ago] ()
2025-03-12 16:53:08,171 INFO sqlalchemy.engine.Engine ROLLBACK

,id,invite_code,tg_id,student_group_id,organization_id,name,birth_date,grade,phone_number,pers_regime_id,topic_id,difficulty_id,task_type_id,regime_id
0,2,3d2885d8-c45b-411a-b150-4dd7762d5785,NaN,2,1,Student_3,None,11,None,1,1,1,1,1
1,1,60a99b4a-ef22-493d-bcb3-8120a6361ad1,738490613.0,2,1,Юрахно Константин Феликсович,2002-11-23,11,79017913349,1,4,3,5,4

In [ ]:
await delete_org(7953322626)

In [ ]:
org_invite_code = uuid.uuid4()
await set_organization(org_invite_code, 'ОРГ_"', "АДРЕС_")

In [7]:
classes = [Student, Organization, Teacher, PersRegime, Topic, TaskType, Difficulty, LLMRegime, StudentGroup]
for class_type in classes:
    objects = await get_all(class_type)
    objects_df = orm_list_to_df(objects)
    display(objects_df)

2025-03-12 16:45:04,105 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,106 INFO sqlalchemy.engine.Engine SELECT students.id, students.invite_code, students.tg_id, students.student_group_id, students.organization_id, students.name, students.birth_date, students.grade, students.phone_number, students.pers_regime_id, students.topic_id, students.difficulty_id, students.task_type_id, students.regime_id
FROM students
2025-03-12 16:45:04,107 INFO sqlalchemy.engine.Engine [generated in 0.00045s] ()
2025-03-12 16:45:04,108 INFO sqlalchemy.engine.Engine ROLLBACK

,id,invite_code,tg_id,student_group_id,organization_id,name,birth_date,grade,phone_number,pers_regime_id,topic_id,difficulty_id,task_type_id,regime_id
0,1,60a99b4a-ef22-493d-bcb3-8120a6361ad1,None,2,1,Юрахно Константин Феликсович,None,11,None,1,1,1,1,1
1,2,3d2885d8-c45b-411a-b150-4dd7762d5785,None,2,1,Student_3,None,11,None,1,1,1,1,1

2025-03-12 16:45:04,118 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,118 INFO sqlalchemy.engine.Engine SELECT organizations.id, organizations.invite_code, organizations.tg_id, organizations.name, organizations.legal_address, organizations.quote, organizations.class_quote
FROM organizations
2025-03-12 16:45:04,118 INFO sqlalchemy.engine.Engine [generated in 0.00033s] ()
2025-03-12 16:45:04,120 INFO sqlalchemy.engine.Engine ROLLBACK

,id,invite_code,tg_id,name,legal_address,quote,class_quote
0,1,25cb06c4-6c6c-4cce-802e-191fbd8b5db1,None,Юрахно Константин Феликсович (админ),"г. Москва, проспект Вернадского, д.41",None,None

2025-03-12 16:45:04,122 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,123 INFO sqlalchemy.engine.Engine SELECT teachers.id, teachers.invite_code, teachers.tg_id, teachers.organization_id, teachers.subject_id, teachers.name, teachers.birth_date, teachers.phone_number, teachers.personal_info
FROM teachers
2025-03-12 16:45:04,124 INFO sqlalchemy.engine.Engine [generated in 0.00027s] ()
2025-03-12 16:45:04,125 INFO sqlalchemy.engine.Engine ROLLBACK

,id,invite_code,tg_id,organization_id,subject_id,name,birth_date,phone_number,personal_info
0,1,f28cd5f0-acf9-45f3-8596-2cd56294e6c5,None,1,1,Юрахно Константин Феликсович,None,None,None

2025-03-12 16:45:04,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,129 INFO sqlalchemy.engine.Engine SELECT pers_regimes.id, pers_regimes.name
FROM pers_regimes
2025-03-12 16:45:04,130 INFO sqlalchemy.engine.Engine [generated in 0.00075s] ()
2025-03-12 16:45:04,131 INFO sqlalchemy.engine.Engine ROLLBACK

   id                          name
0   1  Персонализированное обучение
1   2                    Выбор темы

2025-03-12 16:45:04,133 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,133 INFO sqlalchemy.engine.Engine SELECT topics.id, topics.name, topics.subject_id, topics.parent_id
FROM topics
2025-03-12 16:45:04,133 INFO sqlalchemy.engine.Engine [generated in 0.00017s] ()
2025-03-12 16:45:04,135 INFO sqlalchemy.engine.Engine ROLLBACK

   id              name  subject_id parent_id
0   1           Алгебра           1      None
1   2         Геометрия           1      None
2   3         Алгоритмы           2      None
3   4  Структуры данных           2      None
4   5               ООП           2      None

2025-03-12 16:45:04,146 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,147 INFO sqlalchemy.engine.Engine SELECT task_types.id, task_types.name
FROM task_types
2025-03-12 16:45:04,147 INFO sqlalchemy.engine.Engine [generated in 0.00026s] ()
2025-03-12 16:45:04,151 INFO sqlalchemy.engine.Engine ROLLBACK

   id                        name
0   1      Выбор одного из списка
1   2  Выбор нескольких из списка
2   3                      Да/Нет
3   4   Текстом в жестком формате
4   5             Свободный текст

2025-03-12 16:45:04,153 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,153 INFO sqlalchemy.engine.Engine SELECT difficulties.id, difficulties.name
FROM difficulties
2025-03-12 16:45:04,153 INFO sqlalchemy.engine.Engine [generated in 0.00020s] ()
2025-03-12 16:45:04,155 INFO sqlalchemy.engine.Engine ROLLBACK

   id     name
0   1  Простая
1   2  Средняя
2   3  Сложная

2025-03-12 16:45:04,156 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,156 INFO sqlalchemy.engine.Engine SELECT llm_regimes.id, llm_regimes.name
FROM llm_regimes
2025-03-12 16:45:04,157 INFO sqlalchemy.engine.Engine [generated in 0.00029s] ()
2025-03-12 16:45:04,158 INFO sqlalchemy.engine.Engine ROLLBACK

   id                          name
0   1  Ответ с коротким объяснением
1   2  Только ответы без объяснений
2   3        Самостоятельная работа
3   4   Ответ с подробным разобором

2025-03-12 16:45:04,159 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-12 16:45:04,160 INFO sqlalchemy.engine.Engine SELECT student_groups.id, student_groups.name, student_groups.organization_id, student_groups.teacher_id
FROM student_groups
2025-03-12 16:45:04,160 INFO sqlalchemy.engine.Engine [generated in 0.00022s] ()
2025-03-12 16:45:04,164 INFO sqlalchemy.engine.Engine ROLLBACK

   id name  organization_id  teacher_id
0   1  10A                1           1
1   2  10B                1           1
2   3  11A                1           1
3   4  11B                1           1

Read and add to database real teachers from excel file:

Read and add to database real students from excel file:

In [70]:
new_triple = await generate()

In [73]:
task, answer, explanation = new_triple

In [74]:
print(task, answer, explanation, sep='\n')

Верно ли, что уравнение \( x^2 + 5x + 6 = 0 \) имеет два различных действительных корня?
Да
Для проверки верности утверждения необходимо вычислить дискриминант квадратного уравнения \( D = b^2 - 4ac \). В данном случае \( a = 1 \), \( b = 5 \), \( c = 6 \), поэтому \( D = 5^2 - 4*1*6 = 25 - 24 = 1 \). Поскольку дискриминант \( D > 0 \), уравнение имеет два различных действительных корня.

In [94]:
import requests

URL = "https://llm.api.cloud.yandex.net/foundationModels/v1/completion"
CATALOGUE_ID =  os.getenv("YC_CATALOGUE_ID")
IAM_TOKEN = os.getenv("IAM_TOKEN")
user_text = "Сгенерируй задачу по математике с решением для ученика 11 класса"

def run(iam_token, catalogue_id, user_text):    
    data = {
        "modelUri": f"gpt://{catalogue_id}/yandexgpt-32k/latest",
        "completionOptions": {"temperature": 0.3, "maxTokens": 1000},
        "messages": [
            {"role": "system", "text": "Ты профессиональный репетитор по математике, который помогает 11-класникам подготовиться к экзамену."},
            {"role": "user", "text": f"{user_text}"},
            ]
        }
    response = requests.post(
        URL,
        headers={
            "Accept": "application/json",
            "Authorization": f"Bearer {iam_token}"
        },
        json=data,
    )
    result = response.json()

    return result

In [95]:
from yandex_cloud_ml_sdk import YCloudML

sdk = YCloudML(
    folder_id=CATALOGUE_ID,
    auth=IAM_TOKEN,
)

model = sdk.models.completions("yandexgpt")
model = model.configure(temperature=0.5)
result = model.run("Что такое небо?")

RuntimeError: no explicit authorization data was passed and no authorization data was found at environment

In [ ]:
result